<nav>
  <ul>
    <li>
      <div class="logo">
        <img src="/imatges/logo.png" alt="Logo">
      </div>
    </li>
    <li><a href="/">Inici</a></li>
    <li><a href="/movies">Pel·lícules</a></li>
    <li><a href="/customers">Clients</a></li>
  </ul>
</nav>